<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Agent Pool</title>
</head>
<body>



<%- include('../partials/navbar')  %> 

<h1>List of Teams:</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">

 <!-- !manually added team's code. -->
<% team.forEach(element => { %>



    <div class="col">

    <div class="card" style="width: 18rem;">
      <img src="https://source.unsplash.com/collection/6861443/800x800">  
        <div class="card-body">
          <h5 class="card-title"><%= element.name  %> </h5>
          <p class="card-text"><%= team.description %> </p>
        </div>
  
        <div class="card-body">
          
          
     
          <a href="freeAgentPool/show/<%= team.id  %>"><button type="button" class="btn btn-info">Show</button></a>
         
          <a href="freeAgentPool/delete/<%= team.id  %>"> <button type="button" class="btn btn-danger">Delete</button></a>
        </div>
      </div>

      <br>


    </div>
    
 
  <% }) %> 


<!-- !Code for second loop for user model teams added. -->
  <% newTeamsAdded.forEach(element => { %>



    <div class="col">

    <div class="card" style="width: 18rem;">
      <img src="https://source.unsplash.com/collection/1726716/800x800">  
        <div class="card-body">
          <h5 class="card-title"><%= element.name  %> </h5>
       
        </div>
        <ul class="list-group list-group-flush">
         
        </ul>
        <div class="card-body">
          
          
     
          <a href="teams/show/<%= element.id  %>"><button type="button" class="btn btn-info">Show</button></a>
        
          <a href="freeAgentPool/delete/<%= team.id  %>"> <button type="button" class="btn btn-danger">Delete</button></a>
        </div>
      </div>

      <br>


    </div>
    
 
  <% }) %> 

</div>
</body>
</html>